.button {
    background-color: transparent;
    border: 2px solid #ffcc00;
    color: #ffcc00;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5%;
  }
  
  .button:hover {
    background-color: #ffcc00;
    color: #fff;
    border-color: #DAA520;
  }
  
  .logoutButton {
    background-color: transparent;
    border: 2px solid #DAA520;
    color: #DAA520;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5%;
  }
  
  .logoutButton:hover {
    background-color: #DAA520;
    color: #fff;
    border-color: #ffcc00;
  }
  